<h1>Welcome to the Wild Animals Discovery App</h1>
<div>
  <form method="POST" action="/user/:name">
    <h3>What is your name?</h3>
    <input type="text" id="name" value="" placeholder="Enter your name"/>
    <button type="submit" id="submitBtn">Submit</button>
  </form>
</div>
<script src="/home.js"></script>
